.container
  - if @month_collection
    = form_tag(my_trades_path, method: :get, class: "form-inline") do
      .form-group
        = collection_select  nil, :trade_month, @month_collection, :td, :td, {selected: params[:trade_month]}, class: "form-control", :onchange => "this.form.submit()"
      =# submit_tag 'Search', class: "btn btn-primary"

  %table.table.table-bordered.table-striped.table-hover
    %tr
      %th 交易日期
      %th 商户号 
      %th 商户名称
      %th 终端号
      %th 交易笔数
      %th 交易金额
      %th 交易手续费
      %th 实收金额
      %th 基准手续费
      %th 利润

    %tr.success
      %td{colspan:'4'} 合计
      %td= @collection.sum(:biz_count)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:amount)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:commission)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:actual_amount)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:base_commission)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:profit)

    - @collection.each do |trade|
      %tr
        %td= trade.trade_date
        %td= trade.merchant_number
        %td= trade.merchant_name
        %td= trade.terminal_number
        %td= trade.biz_count
        %td.num= number_with_delimiter '%.2f' % trade.amount
        %td.num= number_with_delimiter '%.2f' % trade.commission
        %td.num= number_with_delimiter '%.2f' % trade.actual_amount
        %td.num= number_with_delimiter '%.2f' % trade.base_commission
        %td.num= number_with_delimiter '%.2f' % trade.profit

