.container
  = render 'clients/admin_mock'
  .form-inline
    - if @month_collection
      = form_tag(my_trades_path, method: :get, class: "form-group") do
        = collection_select  nil, :trade_month, @month_collection, :td, :td, {selected: params[:trade_month]}, class: "form-control", :onchange => "this.form.submit()"

    = search_form_for @q, url: my_trades_path, html: {class: "form-group"} do |f|
      .form-group
        = f.text_field :merchant_number_cont, placeholder: "商户编号", class: "form-control"
      .form-group
        = f.text_field :merchant_name_cont, placeholder: "商户名称", class: "form-control"
      .form-group
        = f.text_field :terminal_number_cont, placeholder: "终端号", class: "form-control"
      = f.submit '筛选', class: "btn btn-primary"
  %p
  %section.r-morethan-800
    %table.table.table-bordered.table-striped.table-hover
      %tr
        %th 交易日期
        %th 商户号 
        %th 商户名称
        %th 终端号
        %th 交易笔数
        %th 交易金额
        %th 交易手续费

      %tr.success
        %td{colspan:'4'} 合计
        %td= @collection.sum(:biz_count)
        %td.num= number_with_delimiter '%.2f' % @collection.sum(:amount)
        %td.num= number_with_delimiter '%.2f' % @collection.sum(:commission)

      - @collection.each do |trade|
        %tr
          %td= trade.trade_date
          %td= trade.merchant_number
          %td= trade.merchant_name
          %td= trade.terminal_number
          %td= trade.biz_count
          %td.num= number_with_delimiter '%.2f' % trade.amount
          %td.num= number_with_delimiter '%.2f' % trade.commission

  %section.r-lessthan-800
    .panel.panel-success
      .panel-heading 
        %h3.panel-title 合计
      .panel-body
        %ul
          %li 
            交易笔数：
            = @collection.sum(:biz_count)
          %li 
            交易金额：
            %span.num= number_with_delimiter '%.2f' % @collection.sum(:amount) 
          %li 
            交易手续费：
            %span.num= number_with_delimiter '%.2f' % @collection.sum(:commission)

    %table.table.table-bordered.table-striped.table-hover
      %tr
        %th 交易日期
        %th 商户名称(商户号)终端号
        %th 交易笔数
        %th 交易金额(交易手续费)
      - @collection.each do |trade|
        %tr
          %td
            交易日期
            %br
            = trade.trade_date
          %td
            = trade.merchant_name
            %br 
            (
            = trade.merchant_number
            )
            %br
            = trade.terminal_number
          %td= trade.biz_count
          %td.num
            = number_with_delimiter '%.2f' % trade.amount
            %br
            %strong
              = number_with_delimiter '%.2f' % trade.commission

