/ Static navbar
.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} POS 交易统计系统
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: (controller?('my_trades') ? 'active' : '')}= link_to '我的数据', my_trades_path
        - if current_user && current_user.roles.index('admin')
          %li{class: (controller?('trades') ? 'active' : '')}= link_to '交易数据', trades_path
          %li{class: (controller?('users') ? 'active' : '')}= link_to '用户列表', users_path
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li 
            %strong.welcome 欢迎 #{current_user.username}! | 
          %li= link_to '退出登录', destroy_user_session_path, method: 'delete'
        - else
          %li 
            %span.pleaselogin 请登录！
    / /.nav-collapse
