/ Static navbar
.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} POS 交易统计系统
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: (controller?('my_trades') ? 'active' : '')}= link_to '我的数据', my_trades_path
        %li{class: (controller?('clients') ? 'active' : '')}= link_to '我的客户', clients_path
        - if current_user && current_user.admin?
          %li{class: (controller?('trades') ? 'active' : '')}= link_to '交易数据', trades_path
          %li{class: (controller?('reports') ? 'active' : '')}= link_to '统计报表', reports_path
          %li{class: (controller?('users') ? 'active' : '')}= link_to '用户列表', users_path
        - if current_user && current_user.agent?
          %li 
            %a{href: '/notify'} 公告
          %li
            %a{href: 'http://pan.baidu.com/s/1Fut9B', target: '_blank'} 渠道资料下载（提取码: orrk）

      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li 
            %strong.welcome 
              欢迎 #{current_user.username}! 
              - if current_user.admin?
                [Admin]
          %li= link_to '退出登录', destroy_user_session_path, method: 'delete'
        - else
          %li 
            %span.pleaselogin 请登录！
    / /.nav-collapse
