= render 'admin_mock'

%p
  = link_to '新用户', new_client_path, class: "btn btn-default"

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th ID#
    %th 用户名
    %th Email
    %th 权限
    %th 登陆次数
    %th 当前登录
    %th 上次登录
    %th 创建时间
    %th

  - @collection.each do |u|
    %tr
      %td= u.id
      %td= u.username
      %td= u.email
      %td= u.roles
      %td= u.sign_in_count
      %td
        = u.current_sign_in_at
        %br /
        = u.current_sign_in_ip
        
      %td
        = u.last_sign_in_at
        %br /
        = u.last_sign_in_ip

      %td= u.created_at
      %td
        = link_to 'Edit', edit_client_path(u)

