%h1 Listing merchants

%table
  %tr
    %th Merchant number
    %th Merchant name
    %th User
    %th Status
    %th
    %th
    %th

  - @merchants.each do |merchant|
    %tr
      %td= merchant.merchant_number
      %td= merchant.merchant_name
      %td= merchant.user_id
      %td= merchant.status
      %td= link_to 'Show', merchant
      %td= link_to 'Edit', edit_merchant_path(merchant)
      %td= link_to 'Destroy', merchant, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Merchant', new_merchant_path
