.container
  - if params[:op] == 'import'
    .btn-group
      = link_to '正式数据', trades_path, class: "btn btn-default"
      = link_to '清空数据', del_trades_path, remote: true, class: "btn btn-default"
      = link_to '提交数据', submit_trades_path, confirm: '数据提交后将不能修改，并会被客户查询到。', remote: true, class: "btn btn-default"
      %a.btn.btn-primary{'data-toggle' => "modal", href: "#myModal"} 导入终端交易数据
  - else
    = search_form_for @q ,html: {class: "form-inline"} do |f|
      .form-group
        = f.text_field :trade_date_eq, placeholder: "日期", class: "form-control"
      .form-group
        = f.text_field :merchant_number_cont, placeholder: "商户编号", class: "form-control"
      .form-group
        = f.text_field :merchant_name_cont, placeholder: "商户名称", class: "form-control"
      .form-group
        = f.text_field :terminal_number_cont, placeholder: "终端号", class: "form-control"
      = f.submit '查找', class: "btn btn-primary"
      = link_to '导入数据', trades_path(op: 'import'), class: "btn btn-default"



  = will_paginate @collection
  %table.table.table-bordered.table-striped.table-hover
    %tr
      %th 交易日期
      %th 商户号 
      %th 商户名称
      %th 终端号
      %th 交易笔数
      %th 交易金额
      %th 交易手续费
      %th 实收金额
      %th 基准手续费
      %th 利润
    %tr.success
      %td{colspan:'4'} 合计
      %td= @collection.sum(:biz_count)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:amount)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:commission)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:actual_amount)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:base_commission)
      %td.num= number_with_delimiter '%.2f' % @collection.sum(:profit)

    - @collection.each do |trade|
      %tr
        %td= trade.trade_date
        %td= trade.merchant_number
        %td= trade.merchant_name
        %td= trade.terminal_number
        %td= trade.biz_count
        %td.num= number_with_delimiter '%.2f' % trade.amount
        %td.num= number_with_delimiter '%.2f' % trade.commission
        %td.num= number_with_delimiter '%.2f' % trade.actual_amount
        %td.num= number_with_delimiter '%.2f' % trade.base_commission
        %td.num= number_with_delimiter '%.2f' % trade.profit
  = will_paginate @collection
  %br
  
  .modal.fade{id: "myModal", tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", 'data-dismiss' => "modal",  'aria-hidden' => "true"} &times;
          %h4.modal-title 导入终端交易数据
        .modal-body
          = form_tag import_trades_path, remote: true do 
            .form-group
              = text_field_tag 'trade_date', Date.today, class: 'form-control', placeholder: '交易日期'
            .form-group
              = text_area_tag 'import_text', '', class: 'form-control', placeholder: '复制粘贴交易数据到这里'
            = submit_tag 
        .modal-footer
          %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"} 放弃修改
          %button.btn.btn-primary{:onclick => "submit_dialog_form(this)", :disable_with => "正在处理...."} 保存修改
