%h1 Listing trades

= will_paginate @collection
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Trade date
    %th Merchant number
    %th Agent number
    %th Terminal number
    %th Biz count
    %th Amount
    %th Commission
    %th Actual amount
    %th Base commission
    %th Profit
    %th

  - @collection.each do |trade|
    %tr
      %td= trade.trade_date
      %td= trade.merchant_number
      %td= trade.agent_number
      %td= trade.terminal_number
      %td= trade.biz_count
      %td= trade.amount
      %td= trade.commission
      %td= trade.actual_amount
      %td= trade.base_commission
      %td= trade.profit
      %td
        = link_to 'Show', trade
        |
        = link_to 'Edit', edit_trade_path(trade)
        |
        = link_to 'Destroy', trade, :method => :delete, :data => { :confirm => 'Are you sure?' }

= will_paginate @collection
%br

= link_to 'New Trade', new_trade_path
%a.btn.btn-primary.btn-lg{'data-toggle' => "modal", href: "#myModal"} Launch demo modal

.modal.fade{id: "myModal", tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", 'data-dismiss' => "modal",  'aria-hidden' => "true"} &times;
        %h4.modal-title Modal title
      .modal-body
        = form_tag import_trades_path, remote: true do 
          = text_area_tag 'import_text'
          = submit_tag 
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"} Close
        %button.btn.btn-primary{type: "button"} Save changes

