%p#notice= notice

%p
  %b Trade date:
  = @trade.trade_date
%p
  %b Merchant number:
  = @trade.merchant_number
%p
  %b Agent number:
  = @trade.agent_number
%p
  %b Terminal number:
  = @trade.terminal_number
%p
  %b Biz count:
  = @trade.biz_count
%p
  %b Amount:
  = @trade.amount
%p
  %b Commission:
  = @trade.commission
%p
  %b Actual amount:
  = @trade.actual_amount
%p
  %b Base commission:
  = @trade.base_commission
%p
  %b Profit:
  = @trade.profit

= link_to 'Edit', edit_trade_path(@trade)
\|
= link_to 'Back', trades_path
